
<div id="map"></div>

<script>
        function initMap() {
            var initialLat = 37.591, initialLng = 127.017;
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: initialLat, lng: initialLng },
                zoom: 15,
            });

	// JavaScript 변수로 전달된 addressData를 사용하여 마커를 추가
            <% if (typeof mapData !== 'undefined' && Array.isArray(mapData)) { %>
                <% mapData.forEach(address => { %>
                    var marker = new google.maps.Marker({
                        position: { lat: <%= address.latitude %>, lng: <%= address.longitude %> },
                        map: map,
                        title: '<%= address.addressInfo.full_address %>'
                    });

                    // infoWindow 설정
                    var infoWindowContent = `<div>
                        <h3><%= address.addressInfo.full_address %></h3>
                        <img src="/images/places/<%= address.photoPaths %>" alt="Place Image" style="width:200px;height:auto;">
                    </div>`;

                    var infoWindow = new google.maps.InfoWindow();

                    // 마커 클릭 이벤트 추가
                    marker.addListener('click', (function(marker, infoWindowContent) {
                        return function() {
                            infoWindow.setContent(infoWindowContent);
                            infoWindow.open(map, marker);
                        };
                    })(marker, infoWindowContent));
                <% }); %>
            <% } else { %>
                console.error('mapData is undefined or not an array.');
            <% } %>
        }

</script>


  <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS7TvY3zbDbMsQIm9dVQsg9u94tq4DAds&callback=initMap&v=weekly&libraries=marker"
                                                                                                                   defer          ></script>
