<div class="section-top" style="padding-top: 10px;">
<div >
<img src="/images/places/<%= place.potoPath %>" alt="<%= place.name %>" style="width: 700px; height: 400px; padding-bottom: 10px;">
<h1 style="padding=5px;"><%= place.name %></h1>
<div style="font-size: 20px; padding-top: 10px;">
	<%= place.description %>
</div>
<div style= "font-size: 20px; padding-top: 10px;"> movie: <%= place.movieTitle %></div>
<div style= "font-size: 20px; padding-top: 10px; padding-bottom: 10px;"><%= place.addressDetails %></div>

<h2>Same Movie</h2>
<% if (place.similarPlaces && place.similarPlaces.length > 0) { %>
  <div class="similar-places-container">
    <% place.similarPlaces.forEach(similarPlace => { %>
      <div class="similar-place">
        <img src="/images/places/<%= similarPlace.potoPath %>" alt="<%= similarPlace.name %>" style="width: 300px; height: 200px;">
        <p style="font-size: 20px;"><%= similarPlace.name %></p>
      </div>
    <% }); %>
  </div>
<% } else { %>
  <p>null</p>
<% } %>
</div>
</div>
